* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: rgb(255, 250, 184);
  cursor: none;
}

nav {
  display: flex;
  width: 100%;
  min-height: 6vh;
  align-items: center;
  margin: auto;
  background: rgb(255, 242, 0);
}

h1 {
  flex-grow: 0.1;
  text-align: center;
  z-index: 3;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  list-style: none;
  z-index: 2;
}

.nav-links li {
  padding: 1rem;
  font-weight: bolder;
}

section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 70%;
  max-width: 800px;
  padding: 1rem;
  margin: 2rem auto;
  background: rgba(177, 137, 193, 0.8);
  border-radius: 30px;
}

.cursor {
  width: 2rem;
  height: 2rem;
  border: 5px solid white;
  background-color: lightsalmon;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: background, transform 0.3s ease;
  transform-origin: 100% 100%;
  z-index: 1;
}

.link-grow {
  transform: scale(2);
  background: lightsalmon;
  border: none;
}

.hovered-link {
  color: white;
}

.front-cover img {
  position: relative;
  border-radius: 30px;
  width: 100%;
  padding: 0 1rem 0 0;
}

footer {
  text-align: center;
  margin: 0 auto 20px auto;
}

footer a {
  cursor: none;
}

@media (max-width: 700px) {
  section {
    display: flex;
    flex-direction: column;
  }
}
